*{
    margin:0 auto;
    padding:0;
    scroll-behavior: smooth;
}

body {
    font-family:  Sans-Serif;
  }
/* FONTOVI */
@font-face {
    font-family: fonthead;
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: bold;
  }



.nosachead{
    width:100%;
    height:50px;
    position: relative;
}

#wrapper{
    width:100%;
    background-color: #e3e3e3;
}
.cleaner{
    clear:both;
}
header{
    background-color: #1D1E20;
    width:100%;
    height:50px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 30;      
}

.grad{

    width:100%;
    height:1px;
    background: linear-gradient(90deg, rgba(99,99,99,1) 0%, rgba(227,227,227,1) 50%, rgba(99,99,99,1) 100%);
    position: fixed;
    top:50px;
    left:0px;
    z-index: 31;
}
ul#nav{
    list-style-type: none;
    float:right;
    margin-right:15px;
}
ul#nav li{float:left;
padding:0 25px;
color:#e3e3e3;
margin-top:16px;
}



ul#nav li:first-child{
    border:none;
}

ul#nav li a{
    color:#e3e3e3;
    text-decoration: none;
}

.mainimg figure img{
    width:100%;
    height:calc(100vh - 50px);
    object-fit: cover;
    position: absolute;
    
}
nav ul li a{
    color:#e3e3e3;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
}

nav ul li a::after{
    content: "";
    display: block;
    height:1px;
    width:100%;
    background-color:#e3e3e3;

    text-align: center;
    transition: transform 0.1s ease;
    transform: scaleX(0)



}

#logo a{
    text-decoration: none;
    color:#e3e3e3;
    font-family: myFirstFont;
    font-size: 24px;


}
#logo{
    float:left;

    margin-left:25px;
    margin-top: 6px;
}
ul li:hover a::after {
    transform: scaleX(1);
}
.mainimg figure{
    position:relative;
    width:100%;
    height:calc(100vh - 50px);;

}
.mainimg figcaption{
    text-align: center;
    z-index: 2;
    position:absolute;
    color:#e3e3e3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 60px;  
    font-weight: bold;
    width:800px;
    height:60px;
    font-family: fonthead;
    border-bottom:3px solid #e3e3e3;
    padding-bottom: 30px;
 
}
.zver{
    color:#ff8100;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 65px;

}
.mainimg{
    margin-top: 50px;
}
@font-face {
    font-family: myFirstFont;
    src: url(../font/Designer.otf);
    font-weight: bold;
  }
.logotext{
    float:left;
    
    z-index: 4;
    color:#e3e3e3;

}

/* clanarine */
.ponuda{
    background-color: #e3e3e3;
    width:100%;

    

}

.ponuda img{
    float:left;
    height:400px;
    width:640px;
    border-radius: 10px;
    
}
#nosac-slike{
    width:50%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:25px 0px;
}
.ponuda .nosecitekst{

    margin-top: 25px;
    float:left;
    color:#1D1E20;
    display: flex;
    flex-direction: column;
    width:calc(50% - 50px);
    flex-wrap: nowrap;
    justify-content:space-evenly;
    height: 400px;
    text-align:center;
    




}
.boje{
    color:#e3e3e3 !important;
    background-color: #1D1E20 !important;
    width:100%;

}
.boje .nosecitekst{
    color:#e3e3e3 !important;


}
.ponuda .nosecitekst h2{
    width:300px;
    height:20px;
    font-size: 26px;
}
.ponuda .nosecitekst p{

width:500px;
height:150px;

font-size: 20px;
}

/* treneri */

#nas-tim{
    width:100%;
    height:600px;
    background-color: #e3e3e3;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}
#nas-tim .trener{
    width:150px;

    height: 150px;
    background-image: url("../images/trener1.jpg");
    border-radius: 50%;
    position:absolute;
    left:75px;
    top:-75px;
    border:2px solid #1D1E20;
    



}

#nas-tim .trener2{
    width:150px;

    height: 150px;
    background-image: url("../images/trener2.jpg");
    border-radius: 50%;
    position:absolute;
    left:75px;
    top:-75px;
    border:2px solid #1D1E20;
    background-size:cover;



}

#nas-tim .trener3{
    width:150px;

    height: 150px;
    background-image: url("../images/trener3.jpg");
    border-radius: 50%;
    position:absolute;
    left:75px;
    top:-75px;
    border:2px solid #1D1E20;
    background-size:cover;
    background-position: center;




}
#nas-tim .trener4{
    width:150px;

    height: 150px;
    background-image: url("../images/trener4.jpg");
    border-radius: 50%;
    position:absolute;
    left:75px;
    top:-75px;
    border:2px solid #1D1E20;
    background-size:cover;
    background-position: center;




}
#nas-tim .trener-tekst {
    width:300px;
    height:400px;
    position:relative;
    background-color: #1D1E20;
    border-top: 2px solid #e3e3e3;
    border-radius: 25px;
}

.trener-tekst .ime{
    width:250px;
    text-align: center;
border-bottom:1px solid #e3e3e3;
    color: #e3e3e3;
    padding-top: 100px;
    font-size: 24px;
    font-weight: bold;
    
}
ul.skill{
    list-style-type: none;
}
ul.skill li.ostalo{
    text-align: center;
    color:#e3e3e3;
    font-size: 20px;
    margin-top: 20px;
}

#tekst2{
    width:100%;
    height:100px;
    background-color: #e3e3e3;

}

#tekst2 h2{
    color:#1D1E20;
    width: 600px;
    border-bottom: 3px solid #1D1E20;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    font-family: fonthead;
}





/* PROMO */
#promo{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:150px;
    background-color: #1D1E20;
}

.sadrzaj-promo{
    width:20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
justify-content: center;
height:150px;
color:#e3e3e3;
}

.sadrzaj-promo:hover{
    color:#ff8100 ;
}
.sadrzaj-promo i {

    margin-bottom:25px;
    font-size: 40px;
}

.sadrzaj-promo p{

    font-size: 22px;
}


/* Raaspored treninga */

#plan-gr-treninga h4{
    text-align: center;
    font-family: fonthead;
    font-size: 40px;
    color:#1D1E20;
    margin-top: 30px;
    border-bottom: 3px solid #1D1E20;
    width:800px;
}

table{
    width:1000px;
    height:500px;
    text-align: center;
    margin-top: 33px;
}
tr th{
    color:#e3e3e3;
    background-color: #1D1E20;
    height:50px;
    width:80px;
    text-transform: uppercase;
    border-radius: 10px;
}
tbody tr td{
    border:1px solid #c1c1c1;
    width: max-content;
    width:80px;
    height:50px;
    color:#1D1E20;
    border-radius: 10px;
}
tbody tr td:hover{
    background-color: #ff9224;
    color: #e3e3e3;;
}

tbody tr td:first-child{
    color:#e3e3e3;
    background-color: #1D1E20;
    font-weight:bold;
}


tr th i{
    color:#e3e3e3;
    font-size: 30px;
    font-weight: normal !important;
}

/* REKLAMA */

#popust{
    width:100%;
    height:240px;
    background-image: url("../images/popust.jpg");
    background-size: cover;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#popust h5{
    font-size: 40px;
    color:#e3e3e3;


} 
#popust p#prvitekst{
    font-size: 50px;
    color:#e3e3e3;

}

#akcijska-cena{

    color:#ff8100;
    font-weight:bold;

}
/* RADNO VREME */

#radno-vreme{
    width:100%;
    height:340px;
    background-image:url("../images/radno-vreme1.jpg");
    background-size: cover;

}

#radno-vreme h6{
    text-align:center;
    color:#1D1E20;
    font-size: 50px;
    padding-top: 40px;
    padding-top: 35px;
}


#radno-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top:70px;
    width:100%;
}

#ver-line{
    width:5px;
    height:100px;
    background-color: #1D1E20;
    border-radius: 20px;
}


.pon-pet{
    font-size: 30px;
    color:#1D1E20;
    text-align: center;
    display:block;
    width:25%;

}

.pon-pet p:first-child{
    margin-top: 15px;
    font-weight: bold;
}



/* -----------------CENOVNIK--------------- */

#cena-main{
    width:100%;
    height:600px;

}

#mainimg-cena{
width:100%;
height:600px;
}
#mainimg-txt{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    font-size: 60px;
}


#cena{
    width:100%;
    background-color: #e3e3e3;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}


.paket{
    width:300px;
    height:350px;
    text-align: center;
    background-color: #e3e3e3;
    color:#1D1E20;
    border-radius: 25px;
    margin-top: 40px;
    border:1px solid #1D1E20;
    overflow: hidden;
    position: relative;
}

.vreme{
    font-size: 20px;
}

.cena-paket{
    width:100%;
    color:#ff8100;
    height:35px;
    font-size: 26px;

    font-weight: bold;

    
}

p.ime-paket{
    width:300px;
    height:40px;
    text-align: center;
    font-size: 20px;
    background-color: #1D1E20;
    color:#e3e3e3;
    padding-top: 20px;
    font-weight: bold;

}

.pocni{
    width:100%;
    height:40px;
    background-color: #1D1E20;
    position: absolute;
    bottom:0px;
    left:0px;
    padding-top: 20px;
    font-weight: bold;

}

.pocni a{
    color:#e3e3e3;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
}

.pocni a::after{
    content: "";
    display: block;
    height:1px;
    width:100%;
    background-color:#e3e3e3;

    text-align: center;
    transition: transform 0.1s ease;
    transform: scaleX(0)



}


.paket:hover .pocni a::after {
    transform: scaleX(1);
}

.flex-paket{
    display: flex;
    flex:1;
    width:100%;
    height: calc(100% - 120px);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.upotreba-trt .zver{
    font-size: 30px;
    display:block;
}
.forlok{
    background-color: #1D1E20;
    background-image: url("../images/proba17.jpg");
    background-position:  center top;
height:600px;
background-size: cover;
background-attachment: fixed;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    overflow: hidden;
}

.form{
    width:25%;
    color: #e3e3e3;
    margin:20px auto;

    
}

form label, form input{
    display: block;
    width:100%;
    text-align :center;

    border-radius:20px ;
    border:none;
    margin-top:3px;

}
form input{
    background-color: #e3e3e3;
    color:#1D1E20;
    height:30px;
    font-size: 18px;

}
form label{
    margin:10px auto;
}
textarea{
    display: block;
    width:100%;
    height:60px;
    border-radius: 20px;
    border:none;
    background-color: #e3e3e3;
color:#1D1E20;
font-size: 18px;
text-indent: 20px;
text-align: center;

}
form h6{
    text-align: center;
    font-size: 30px;
}
form{
    border-radius: 20px;
    border:1px solid #c1c1c1;
    padding:20px;
}
input[type=submit]{
    background-color: #ff8100;
    color:#e3e3e3;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 2px;
 
}


.pristup{
    font-size: 18px;
    color:#1D1E20
}

.flex-paket p .zver{
    font-size: 20px;
}


/*galerija */
.galerija img{
    width:300px;
    height:300px;
    border-radius: 20px 0px 20px 0px;
}
.galerija{

    display: grid;
    grid-template-columns: auto auto auto auto;
    width:1000px;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e3e3e3;


}

.main{
    width:100%;
    background-color: #e3e3e3;
}

.galtit{
    width:500px;
    border-bottom:3px solid #1D1E20;
    font-family: fonthead;
font-size: 50px;
    margin-top: 50px;
    padding-top:20px ;
    text-align: center;
    margin-bottom: 20px;
}

.logotext a{
    text-decoration: none;
    color:#e3e3e3
}

/*footer*/

footer{
    width:100%;
    padding:20px 0px;
    background-color: #1D1E20;


}


.flexx{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    padding:0px 30px;
    
}
footer ul{
    list-style-type:none;
}

footer ul li i{
    color:#e3e3e3
}
footer ul li{
    margin:3px;
}

footer ul li a{
    color:#e3e3e3;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    font-weight:lighter;
}

p#logo{
    text-decoration: none;
    color:#e3e3e3;
    font-family: myFirstFont;
    font-size: 24px;
    margin:0px;
    float:none;
}


#centar{
    display: flex;
    flex-direction: column;
    align-items: center;

}


#mot{
    display:block;
    float:none;
    margin-top: 10px;
    color:#e3e3e3;
    text-align: center;
}

.fa-sitemap{
    background-color: #e3e3e3;
    color:#1D1E20;
    border-radius: 3px;
    font-size: 20px;
}